/* MOBILE MEDIA QUERY  */

@media (max-width: 768px) {
  body {
    background-color: teal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: serif;
    text-align: center;
    color: #fff;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .contents-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    width: auto;
    height: auto;
    background-color: #fff;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .refresh-wrapper {
    display: flex;
    gap: 6rem;
    width: 100%;
    height: auto;
  }

  .h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #000;
  }

  .refresh-btn {
    height: 2rem;
    align-self: center;
    font-size: 1.2rem;
    border-radius: 8px;
    color: green;
    border-color: teal;
  }

  .refresh-btn:hover {
    color: #fff;
    background-color: #3c3c;
  }

  .board_list {
    border: 2px solid #000;
    list-style-type: none;
  }

  .scores-list {
    border-bottom: 1px solid rgb(236, 218, 119);
    color: #000;
    font-size: 1.3rem;
    margin: 0 0 0.4rem -1.8rem;
  }

  .scores-list:nth-child(odd) {
    background-color: antiquewhite;
  }

  .scores-list:nth-child(even) {
    background-color: rgb(195, 183, 183);
  }

  .add-scores {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: cadetblue;
  }

  .h3 {
    text-align: center;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    height: auto;
  }

  input {
    width: 50%;
    align-self: center;
    height: 2rem;
    border-radius: 8px;
    border-bottom: teal;
    text-align: start;
    padding: 4px;
    font-size: 1rem;
    font-weight: 700;
  }

  #submit-button {
    width: 25%;
    margin-left: 11.5rem;
    height: 2.5rem;
    border-radius: 8px;
    border-color: teal;
    color: blue;
    font-size: 1.2rem;
  }

  #submit-button:hover {
    color: #fff;
    background-color: #113e;
    font-size: 1.2rem;
  }

  .error-container {
    color: red;
    font-size: 1.2rem;
    width: 40%;
    margin: 0 0 0 8.5rem;
    background-color: rgb(226, 218, 218);
    border-radius: 16px;
    text-align: center;
    font-style: italic;
    height: auto;
  }
}

/* DESTOP MEDIA  */

@media (min-width: 768px) {
  body {
    background-color: teal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: serif;
    text-align: center;
    color: #fff;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .contents-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 10rem;
    width: auto;
    height: auto;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 2px solid #000;
    background-color: #fff;
  }

  .refresh-wrapper {
    display: flex;
    gap: 16rem;
    width: 100%;
    height: auto;
  }

  .h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #000;
  }

  .refresh-btn {
    height: 2rem;
    align-self: center;
    font-size: 1.2rem;
    border-radius: 8px;
    color: green;
    border-color: teal;
  }

  .refresh-btn:hover {
    color: #fff;
    background-color: #3c3c;
  }

  .board_list {
    list-style-type: none;
    border: 2px solid #000;
    width: 90%;
    gap: 0.5rem;
  }

  .scores-list {
    border-bottom: 1px solid #336d;
    color: #000;
    width: 105%;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    margin-left: -1.8rem;
  }

  .scores-list:nth-child(odd) {
    background-color: rgb(246, 243, 240);
  }

  .scores-list:nth-child(even) {
    background-color: rgb(228, 221, 221);
  }

  .add-scores {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: cadetblue;
    border: 2px solid rgba(1, 1, 18, 0.998);
  }

  .h3 {
    text-align: center;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input {
    width: 50%;
    align-self: center;
    height: 2rem;
    border-radius: 8px;
    border-bottom: teal;
    text-align: start;
    padding: 4px;
    font-size: 1rem;
  }

  #submit-button {
    width: 15%;
    margin-left: 19.5rem;
    height: 2rem;
    border-radius: 8px;
    border-color: teal;
    color: blue;
  }

  #submit-button:hover {
    color: #fff;
    background-color: #113e;
    font-size: 1.2rem;
  }

  .error-container {
    color: red;
    font-size: 1.2rem;
    width: 40%;
    margin: 0 0 0 12rem;
    background-color: rgb(226, 218, 218);
    border-radius: 16px;
    text-align: center;
    font-style: italic;
  }
}
